.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.auth-container {
  margin: auto;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: 40px 60px;
}

.auth-links {
  text-align: center;
}

.auth-links > a {
  font-size: 12px;
}

.navbar-nav li.nav-item {
  margin-right: 10px;
}

@media only screen and (max-width: 990px) {
  .navbar-nav .nav-item {
    margin-right: 0 !important;
  }

  .navbar-nav .btn, 
  .navbar-nav .nav-item {
    border-radius: 0;
  }
}

